body{
  background-color: #fcde67;
  font-size: Medium;
  color: #052465;
}

table, tr, td,th {
  border: 1px solid black;
  border-collapse:collapse;
  padding:5px;
}

a {
  text-decoration: none;
  font-size: Medium;
}

.card {
  background-color: #fcde67;
border:1px solid black;
border-radius:25px;
padding:25px;
width:100%;
font-size:x-large;
}